{#
/**
 * @file banner_modal.html.twig
 * Default theme implementation to present Banner modal data.
 *
 * This template is used when viewing Banner modal pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_banner_modal()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('banner_modal') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
